/* prettier-ignore */
@use 'main';

/* append your custom style below */
/* append your custom style below */
.callout.info {
  background-color: rgba(255, 255, 255, 0.04);
  border-left: 4px solid var(--color-primary);
  color: var(--text-color);
}

.callout.info a {
  color: var(--link-color);
}
